.example-container {
    position: relative;
    min-height: 200px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-column-created {
    max-width: 124px;
  }

  .confirmButton{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border-radius: 5px;
    background-color: #E02570;
    padding: 3px 10px 3px 10px;
  }
  .p01 {
    text-align: justify;

  }

.instructionBtn{
  color: #007bff;
  text-decoration: underline;
  cursor:pointer;
}
.instructionBtn:hover{
  color:#9400FF;
}

  