<div [hidden]="loading">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="student_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Student ID</th>
                <td mat-cell *matCellDef="let element"> {{element.student_id}} </td>
            </ng-container>

            <ng-container matColumnDef="student_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name</th>
                <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
            </ng-container>

            <ng-container matColumnDef="submission_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Submission ID</th>
                <td mat-cell *matCellDef="let element"
                    style="cursor:pointer; color:blue; text-decoration: underline"> {{element.submission_id}} </td>
            </ng-container>

            <ng-container matColumnDef="validated">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null; changeSelectionAllToApprove()"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()"> Approved
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null; changeSelectionRejectToApprove(row)"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="rejected">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle2() : null;  changeSelectionAllToReject()"
                                  [checked]="selection2.hasValue() && isAllSelected2()"
                                  [indeterminate]="selection2.hasValue() && !isAllSelected2()"
                                  [aria-label]="checkboxLabel2()"> Not Approved
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection2.toggle(row) : null; changeSelectionApproveToReject(row)"
                                  [checked]="selection2.isSelected(row)"
                                  [aria-label]="checkboxLabel2(row)"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div>
            <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div>
        <button class="confirmButton text-white" (click)="getSelections()"> CONFIRM</button>
    </div>
    <div class="alert alert-success" *ngIf="showMsgTag">
        <h4 class="alert-heading">Process Successfully</h4>
    </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<br>
<br>
<br>
<p class="instructionBtn" (click)="getShowInstruction()">Instruction</p>
<div *ngIf="showInstruction">
    <p> Instructions:</p>
    <p id="p01">Click on a student's submission ID to see their submission details.
        <br>
        The details include a confidence score based on previous writing submitted by this student. The more the
        writing conforms to previous submissions the higher the confidence score. You will also see a comparison
        with the confidence score for the rest of the class.
        <br>
        "Approve" indicates you consider this to be the student's own work and the submission will be added to the
        student's personal writing profile.
        <br>
        "Not approved" indicates you consider this to be substantially written by another person. This item will not
        be added to their personal writing profile.
    </p>
</div>
