<div *ngIf="!loading">
    <div class="modal-header">
        <button type="button" class="close" (click)="closeDialog()"
                aria-label="Close" >
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="student_id">
                <th mat-header-cell *matHeaderCellDef> Student ID</th>
                <td mat-cell *matCellDef="let element"> {{element.student_id}} </td>
            </ng-container>

            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef> Student Name</th>
                <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
            </ng-container>

            <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef> Document Name</th>
                <td mat-cell *matCellDef="let element"
                    style="cursor:pointer; color:blue; text-decoration: underline"> {{element.filename}} </td>
            </ng-container>


            <ng-container matColumnDef="confidenceNumber">
                <th mat-header-cell *matHeaderCellDef> Confidence Number</th>
                <td mat-cell *matCellDef="let element"> {{element.confidenceNumber}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="getRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <!-- showing spinner if it is loading the data -->
        <app-spinner *ngIf="loading"></app-spinner>

        <!--Chart view in table view-->
        <div *ngIf="!loading" class="chart-view">
            <!-- component to display average ring -->
            <app-chart-view-ring [average]="average" class="ring"></app-chart-view-ring>
        </div>


    </div>
    <mat-card *ngIf="!hasHistory()">
    <div >
        <p>There is no history submission</p>
    </div>
    </mat-card>
    <mat-card *ngIf="hasHistory()">
    <table class="table" >
        <thead class="thead-light">
        <tr>
            <th scope="col">Algorithm</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Cosine Similarity</th>
            <td>{{algorithmData['cosine_similarity']}}</td>
        </tr>
        <tr>
            <th scope="row">Canberra Similarity</th>
            <td>{{algorithmData['canberra_similarity']}}</td>
        </tr>
        <tr>
            <th scope="row">Euclidean Similarity</th>
            <td>{{algorithmData['euclidean_similarity']}}</td>
        </tr>
        <tr>
            <th scope="row">Keselj Similarity</th>
            <td>{{algorithmData['keselj_similarity']}}</td>
        </tr>
        <tr>
            <th scope="row">Manhattan Similarity</th>
            <td>{{algorithmData['manhattan_similarity']}}</td>
        </tr>
        </tbody>
    </table>
    </mat-card>
    <mat-card *ngIf="hasHistory()">
    <table class="table" >
        <thead class="thead-light">
        <tr>
            <th scope="col">ngram pieces</th>
            <th scope="col">current appearence</th>
            <th scope="col">history appearence</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{featureWords[0]['word']}}</th>
            <td>{{featureWords[0]['new_file_value']}}</td>
            <td>{{featureWords[0]['old_file_value']}}</td>
        </tr>
        <tr>
            <th scope="row">{{featureWords[1]['word']}}</th>
            <td>{{featureWords[1]['new_file_value']}}</td>
            <td>{{featureWords[1]['old_file_value']}}</td>
        </tr>
        <tr>
            <th scope="row">{{featureWords[2]['word']}}</th>
            <td>{{featureWords[2]['new_file_value']}}</td>
            <td>{{featureWords[2]['old_file_value']}}</td>
        </tr>
        <tr>
            <th scope="row">{{featureWords[3]['word']}}</th>
            <td>{{featureWords[3]['new_file_value']}}</td>
            <td>{{featureWords[3]['old_file_value']}}</td>
        </tr>
        <tr>
            <th scope="row">{{featureWords[4]['word']}}</th>
            <td>{{featureWords[4]['new_file_value']}}</td>
            <td>{{featureWords[4]['old_file_value']}}</td>
        </tr>
        </tbody>
    </table>
    </mat-card>
</div>
<app-spinner *ngIf="loading"></app-spinner>
  
