.example-container {
    position: relative;
    min-height: 200px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-column-created {
    max-width: 124px;
  }
     
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
    
  .popup .close:hover {
    color: orange;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto; 
  }

  .chart-view {
    display: flex;
    align-items: center;

    .ring {
      width: 60%;
    }

    .stats {
      width: 30%;
      margin-right: 10%;
      height: 100%;
    }
  }

