<!-- navbar used to switch between chart and table view -->
<nav class="navbar navbar-light bg-light">
  <span class="mr-auto"></span>
  <div class="my-nav-component">
  <a class="nav-item nav-link" routerLink="admin/chart" (click) = "updateDisplayType('Chart')">Total</a>
  </div>
  <div class="my-nav-component">
  <a class="nav-item nav-link active"  routerLink="admin/table" (click) = "updateDisplayType('Table')">Individual</a>
  </div>
</nav>
