<!-- 
    if user is a teacher, showing teacher view
    teacher side have no sidebar of workshop 
-->
<div *ngIf= "userDetails && userDetails['enrollmentType'] == 'TeacherEnrollment'" id = "instructor">
    <app-navbar *ngIf="!loading"></app-navbar>
    <router-outlet *ngIf="!loading"></router-outlet>
</div>

<!-- 
    if user is a tutor, showing tutor view
    tutor sites have an additional sidebar of workshop 
    which allow user to choose different workshop for displaying data
-->
<div *ngIf= "userDetails && userDetails['enrollmentType'] == 'TaEnrollment'" id = "tutor">
    <app-navbar *ngIf="!loading"></app-navbar>
    <app-sidebar *ngIf="!loading && workshops !== null" [workshops] = "workshops"></app-sidebar>
    <router-outlet *ngIf="!loading"></router-outlet>
</div>