h2, p{
    text-align: center;
}
body { 
    padding-top: 70px; 
    padding-left: 250px;
}
#tutor {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 60px calc(100vh - 60px);
    app-navbar {
        grid-column: 1 / span 2;
    }
    app-sidebar {
        grid-column: 1 / span 1;
        grid-row: 2 / 3;
        border-right: 2px solid #ddd;
    }
}

#instructor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100vh - 60px);
    app-navbar {
        grid-column: 1 / span 1;
    }
}

router-outlet {
    display: none;
}