.multiupload {
  background-color: #fff;
  width: 80%;
  max-width: 1000px;
  border-radius: 5px;
  margin: 20px auto 0;
  padding: 10px 40px;
}
.add-files-btn {
  float: right;
}

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
}

.file-list {
  display: inline-block;
}

.comment-box {
  width: 100%;
  margin: 20px 0;

  textarea {
    width: 100%;
    height: 5em;
    border-radius: 5px;
  }
}

