<div class="multiupload">
  <input
  type="file"
  #file
  style="display: none"
  (change)="onFilesAdded()"
  multiple
/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1>Upload Files</h1>
  <div>
    <button
      [disabled]="uploading"
      mat-raised-button
      color="primary"
      class="add-files-btn"
      (click)="addFiles()"
    >
      Add Files
    </button>
  </div>

  <!-- 
    a list of selected files to upload
    each item also show upload progress after starting uploading
  -->
  <div class="file-list">
    <mat-list>
      <mat-list-item *ngFor="let file of files; let i = index" class="file">
        <h4 mat-line>{{file.name}}</h4>
        <mat-progress-bar
          *ngIf="progress"
          mode="determinate"
          [value]="progress[file.name].progress | async"
        ></mat-progress-bar>
        <button
        mat-raised-button
        *ngIf="!progress"
        color="primary"
        (click)="removeFile(i)"
        >Remove</button>
      </mat-list-item>
    </mat-list>
  </div>

  <div class = "comment-box">
    <textarea [(ngModel)]="comments"></textarea>
  </div>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <div class="actions">
    <button  mat-button [disabled] = "uploading" (click) = "backToHome()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="upload()"
      [disabled] = "uploading || files.length < 1"
    >
      Upload
    </button>
  </div>
</div>
</div>

