.chart-view {
    display: flex;
    align-items: center;

    .ring {
        width: 60%;
    }
    .stats {
        width: 30%;
        margin-right: 10%;
        height: 100%;
    }

    mat-card {
        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
        display: block;
        position: relative;
        border-radius: 20px;
    }
    th {
        color: #6E7D75;
    }

    td {
        color: #6E7D75;
    }

}
.instructionBtn{
    color: #007bff;
    text-decoration: underline;
    cursor:pointer;
}
.instructionBtn:hover{
    color:#9400FF;
}

