<!-- showing spinner if it is loading the data -->
<app-spinner *ngIf="loading"></app-spinner>
<!-- showing rings and tables once data is retrieved -->
<div *ngIf="!loading" class = "chart-view">
    <!-- component to display average ring -->
    <app-chart-view-ring [average] = "average" class = "ring"></app-chart-view-ring>
    <!-- table to display any other aggregated data -->
<!--    <mat-card class = "stats">-->
<!--        <mat-list>-->
<!--            <div *ngFor="let stat of stats; let i = index">-->
<!--                <mat-list-item>{{stat['dataType']}}:  {{stat['value']}}</mat-list-item>-->
<!--                <mat-divider *ngIf="i !== stats.length - 1"></mat-divider>-->
<!--            </div>-->
<!--        </mat-list>-->
<!--    </mat-card>-->
    <table class="table stats">
        <tbody>
        <tr>
            <th scope="row">Highest Score</th>
            <td>{{stats['highest']}}</td>
        </tr>
        <tr>
            <th scope="row">Lowest Score</th>
            <td>{{stats['lowest']}}</td>
        </tr>
        <tr>
            <th scope="row">Median Score</th>
            <td>{{stats['median']}}</td>
        </tr>
        <tr>
            <th scope="row">Student Number</th>
            <td>{{stats['totalNum']}}</td>
        </tr>
        </tbody>
    </table>


</div>
<p class="instructionBtn" (click)="getShowInstruction()">Instruction</p>
<div *ngIf="showInstruction">
    <p id = "p01">This tool allows submissions from students to be uploaded and compared with previous work they have submitted. The first submission is considered to the        be authored by them and is sampled to determine their writing style.
    <br>    
       A confidence score is generated for each submission based on a comparison with the previous submissions from this student. The first submission always         has a confidence score of 100%. Subsequent submissions will have a much lower score (typically around 80% for a submission by the same student). 
    <br> 
       Note that this is not a similarity check in the traditional sense. The tool will not highlight individual sections of text for further scrutiny. A score        of 80% does NOT mean 20% is written by someone else. It means the algorithm is 80% confident that the author is the same person. 
    <br>   
       If you agree with this assessment you can 'approve' a submission and this adds to the personal writing profile of the student and improves the                  predictive capabilities of the algorithm for subsequent submissions.</p>
</div>
