<!-- similar logic as preview component, just buffered files from different sources -->
<app-spinner *ngIf="loading"></app-spinner>
<mat-card class="example-card" *ngIf="!loading">
  <mat-card-header class="container">
      <h1 mat-card-title>Previous Submission</h1>
  </mat-card-header>
  <mat-card-content fxFlex>
      <p *ngFor="let bufferedFile of bufferedFiles; let i = index" class = "uploaded-files" (click) = "select(i)">
        {{bufferedFile.fileName}}
      </p>

      <div style="display: none">
          <input type="file" id="file" >
      </div>
      <div class = "viewer">
          <div class = "pdf-viewer" *ngIf="bufferedFiles !== undefined && bufferedFiles.length > 0 && bufferedFiles[selectedIndex].type === 'application/pdf'">
            <pdf-viewer [src]="bufferedFiles[selectedIndex].data"
              [show-all]="false"
              [page]="page" 
              (after-load-complete)="afterLoadComplete($event)" 
              [original-size]="false"
              [render-text]="true"
              *ngIf="bufferedFiles[selectedIndex].data !== null"
            ></pdf-viewer>
            <div class = "page-control">
              <button 
              mat-raised-button
              color="primary"
              (click)="previousPage()" [disabled]="page === 1"
              class = "prev"
              >
                previous
              </button>
              <button
              mat-raised-button
              color="primary"
              (click)="nextPage()" [disabled]="totalPages === 1 || page === totalPages"
              >
                next
              </button>
              <p>{{ page }} / {{ totalPages }}</p>
            </div>
          </div>
          <div class = "text-viewer" *ngIf="bufferedFiles !== undefined && bufferedFiles.length > 0 && bufferedFiles[selectedIndex].type === 'text/plain'"> 
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport"  *ngIf="bufferedFiles[selectedIndex].data !== null">
              {{bufferedFiles[selectedIndex].data}}
            </cdk-virtual-scroll-viewport>
          </div>
      </div>
  </mat-card-content>
  <mat-card-footer class="container">
      <mat-card-actions class="actions">
          <button
            mat-raised-button
            color="accent"
            (click) = "goBack()"
          >
            Go back
          </button>
        </mat-card-actions>
  </mat-card-footer>
    
</mat-card>