h1 {
    float: left;
  }
  
  .example-viewport {
    height: 200px;
    width: 90%;
    margin: auto;
    border: 1px solid black;
  }
  .example-item {
    height: 50px;
  }
  
  .container {
    width: 100%;
    display: block;
  }
  
  .example-card {
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    background-color: #dfe4ea;
    margin-top: 50px;
  }
  
  .actions {
    justify-content: flex-end;
    float: right;
  }

  .mat-card {
    background-color: #fff;
  }

  .uploaded-files {
    cursor: pointer;
    width: 90%;
    overflow: hidden;
    text-overflow: clip;
    margin: 20px auto;
    text-align: center;
  }

  .page-control {
    width: 200px;
    text-align: center;
    margin: auto;

    button {
      width: 90px;
    }

    .prev {
      margin-right: 20px;
    }
  }