<mat-card class="example-card">
    <mat-card-header class="container">
        <h1 mat-card-title>Upload Preview</h1>
    </mat-card-header>
    <mat-card-content fxFlex>

        <!-- list of uploaded file, user can click on to select file to display -->
        <p *ngFor="let bufferedFile of bufferedFiles; let i = index" class = "uploaded-files" (click) = "select(i)">
          {{bufferedFile.fileName}}
        </p>

        <div style="display: none">
            <input type="file" id="file" >
        </div>
        <!-- viewer to display selected to display pdf or txt file  -->
        <div class = "viewer">
            <div class = "pdf-viewer" *ngIf="bufferedFiles[selectedIndex].type === 'application/pdf'">
              <pdf-viewer [src]="bufferedFiles[selectedIndex].data"
                [show-all]="false"
                [page]="page" 
                (after-load-complete)="afterLoadComplete($event)" 
                [original-size]="false"
                [render-text]="true"
              ></pdf-viewer>
              <!-- button used to switch pages of pdf file -->
              <div class = "page-control">
                <button 
                class = "prev"
                mat-raised-button
                color="primary"
                (click)="previousPage()" [disabled]="page === 1"
                >
                  previous
                </button>
                <button
                mat-raised-button
                color="primary"
                (click)="nextPage()" [disabled]="totalPages === 1 || page === totalPages"
                >
                  next
                </button>
                <p>{{ page }} / {{ totalPages }}</p>
              </div>
            </div>
            <div class = "text-viewer" *ngIf="bufferedFiles[selectedIndex].type === 'text/plain'"> 
              <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                {{bufferedFiles[selectedIndex].data}}
              </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="container">
        <mat-card-actions class="actions">
            <button
              mat-raised-button
              color="accent"
              (click) = "goBack()"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              (click) = "submit()"
            >
              Submit
            </button>
          </mat-card-actions>
    </mat-card-footer>
      
  </mat-card>