<!-- notice user that files are Successfully submitted -->
<mat-card class="example-card">
  <mat-card-header class="container">
    <mat-card-title>Submitted Successfully!</mat-card-title>
    <mat-card-subtitle>Submission ID: {{submissionID}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxFlex>
  </mat-card-content>
  <mat-card-footer class="container">
      <mat-card-actions class="actions">
          <button
            mat-raised-button
            color="accent"
            (click)="goBackHome()"
          >
            Go back To Home
          </button>
        </mat-card-actions>
  </mat-card-footer>
    
</mat-card>