<!-- home component of the student site -->
<mat-card class="example-card">
  <mat-card-header class="container">
    <mat-card-title>Assignment Upload</mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex>
  </mat-card-content>
  <mat-card-footer class="container">
      <!-- 
        only show this button if the student has submit the assignment before 
        use this button to check previous submission
      -->
      <mat-card-actions class="actions" *ngIf="!hasPrev">
          <button
            mat-raised-button
            color="accent"
            (click)="startNewSubmission()"
            [disabled] = "loading"
          >
            Submit
          </button>
      </mat-card-actions>

      <!-- 
        use this button to start a new submission
      -->
      <mat-card-actions class="actions" *ngIf="hasPrev">
          <button
          mat-raised-button
          color="primary"
          (click)="checkPreviousWork()"
          >
            Previous
          </button>
          <button
            mat-raised-button
            color="accent"
            [disabled] = "loading"
            (click)="startNewSubmission()"
          >
            Resubmit
          </button>
      </mat-card-actions>
  </mat-card-footer>
    
</mat-card>

<!-- 
  when checking whether student has previous submission or not
  show the spinner 
-->
<div class="spinner-wrapper" *ngIf="loading">
    <app-spinner></app-spinner>
</div>