.spinner-wrapper {
  z-index: 1000;
}
h1 {
    float: left;
  }
  .add-files-btn {
    margin-top: 10px;
    float: right;
  }
  
  .actions {
    justify-content: flex-end;
  }
  
  .container {
    width: 100%;
    display: block;
    margin: auto;
  }
  
  .example-card {
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    background-color: #dfe4ea;
    margin-top: 50px;
  }
  
  .actions { 
    float: right;
  }
  
  .loading-indicator {
    display: flex;
    justify-content: center;
  }
  .mat-card-content {
  }
  .mat-card {
    background-color: #fff;
  }
  