<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf= "userDetails && (userDetails['enrollmentType'] == 'TaEnrollment' || userDetails['enrollmentType'] == 'TeacherEnrollment')" id = "teacher">
    <app-admin [userDetails] = "userDetails" [workshops] = "workshops"></app-admin>
</div>
<div *ngIf= "userDetails && userDetails['enrollmentType'] == 'StudentEnrollment'" id = "student">
    <app-student></app-student>
</div>