<!-- the component represent each cell of workshop in the sidebar -->
<div class = "sidebar-section" [ngClass]="{selected: workshop.selected}" (click)="select()">
  <p>
    {{workshop.workshopName}}
  </p>
</div>
