.sidebar-section {
    margin: 0px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #eee;
}

.sidebar-section:hover {
    background-color: #ccc;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

p {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.selected {
    background-color: #aaa;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}