<!-- <label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
  <div class="log-box"><img width="100" alt="Unimelb Logo" src="assets/images/unimelb-logo.png"></div>
  <div class="wrapper">
    <router-outlet ></router-outlet>
  </div>
<br>
<br>
  <div>
    <p id = "p01"> Note that by submitting an assignment to this tool you agree that it will be compared with other writing you have previously submitted to          provide a confidence score that you are the author of the content. All submissions to this tool are covered by your institution's academic integrity            policy.
      <br>
      Steps to submit an assignment:
      <br>
      Click the "Submit" button.
      <br>
      Click "Add Files" to choose the files.
      <br>
      Add any comments you wish into the comment box.
      <br>
      Choose "Upload".
      <br>
      <p>After submitting one file:
      If you wish to submit a new version of the assignment click "Resubmit".
      <br>
      If you wish to view a your previous submissions click the "Previous" button
      <br>
  </div>
