<div>
  <h2>Student Original Text:</h2>
</div>
<div class = "viewer">
  <div class = "pdf-viewer" *ngIf="file !== undefined && file.type === 'application/pdf'">
    <pdf-viewer [src]="file.data"
      [show-all]="false"
      [page]="page" 
      (after-load-complete)="afterLoadComplete($event)" 
      [original-size]="false"
      [autoresize]="true"
      [render-text]="true"
      *ngIf="file !== null"
    ></pdf-viewer>
    <button 
    mat-raised-button
    color="primary"
    (click)="previousPage()" [disabled]="page === 1"
    >
      previous
    </button>
    <button
    mat-raised-button
    color="primary"
    (click)="nextPage()" [disabled]="totalPages === 1 || page === totalPages"
    >
      next
    </button>
    <p>{{ page }} / {{ totalPages }}</p>
  </div>
  <div class = "text-viewer" *ngIf="file.type === 'text/plain'"> 
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      {{file.data}}
    </cdk-virtual-scroll-viewport>
  </div>
</div>
